body {
    background: rgb(70, 142, 236);
    font: normal 15pt arial ;
}

header {
    color: white;
    text-align: center;
}

section {
    background: rgb(122, 74, 74);
    color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.37);
}

div {
    text-align: center;
}

footer {
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
}

img {
    margin: auto;
}