body {
    background-color: rgb(22, 21, 32);
    color: white;
    display: flex;
    text-align: center;
}

h1{
    color: greenyellow;
}

div.caixa {
    background-color: rgb(47, 47, 65);
    margin: auto;
}

div#ingredientes, div#calculo{
    background-color: rgb(40, 36, 51);
}
